/* Color Theme Swatches in Hex */
.Spring-ocean-1-hex { color: #66CCC9; }
.Spring-ocean-2-hex { color: #17716e; }
.Spring-ocean-3-hex { color: #9AFFC2; }
.Spring-ocean-4-hex { color: #FFD9E4; }
.Spring-ocean-5-hex { color: #CC66B7; }

/* Color Theme Swatches in RGBA */
.Spring-ocean-1-rgba { color: rgba(102, 204, 200, 1); }
.Spring-ocean-2-rgba { color: rgba(31, 153, 149, 1); }
.Spring-ocean-3-rgba { color: rgba(154, 255, 193, 1); }
.Spring-ocean-4-rgba { color: rgba(255, 216, 228, 1); }
.Spring-ocean-5-rgba { color: rgba(204, 102, 182, 1); }

/* Color Theme Swatches in HSLA */
.Spring-ocean-1-hsla { color: hsla(178, 50, 60, 1); }
.Spring-ocean-2-hsla { color: hsla(178, 66, 36, 1); }
.Spring-ocean-3-hsla { color: hsla(143, 100, 80, 1); }
.Spring-ocean-4-hsla { color: hsla(342, 100, 92, 1); }
.Spring-ocean-5-hsla { color: hsla(312, 50, 60, 1); }


:root {
    --black: #171321;
    --dkblue: #0d314b;
    --plum: #4b0d49;
    --hotmag: #ff17e4;
    --magenta: #e310cb;
    --aqua: #86fbfb;
    --white: #f7f8fa;
    --font-size: 1.3rem;
    --mono: "Oxygen mono", monospace;
    --sans: Oxygen, sans-serif;
}

/* border box model: https://css-tricks.com/box-sizing/ */
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: var(--sans);
    background-color: var(--black);
    color: var(--white);
    font-size: var(--font-size);
}

h1, h2, h3 {
    margin: 0;
    /* padding: 1rem; */
}

/* nav-bar style */

#nav-div {
    background-color: var(--dkblue);
}

#nav {
    box-sizing: 300, 200;
    border: 10,10;
    font-family: var(--mono);
    font-size: 80%;
    padding: 1rem;
}

#nav h1 {
    color: var(--hotmag);
    font-family: var(--sans);
}

#nav a {
    color: #ffffff;
    text-decoration: none;
    display: block;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#nav li {
    display: inline;
    width: 50;
    /* float: center; */
}

#nav li:first-child {
    flex-basis: 100%;
    text-align: center;
}

#nav li a:hover {
    background-color: #ffffff;
}

#nav [class*="fa-"] {
    font-size: 150%;
    color: var(--aqua);
    padding: .5rem;
}

a {
    color: var(--magenta);
}

a:hover {
    color: var(--hotmag);
    text-decoration: none;
}

/* intro styles */

#intro {
    padding: 4rem 1rem 10rem 1rem;
    max-width: 1200px;
    margin: 0;
}

#intro p {
    font-size: 1rem;
    line-height: 1.5;
    /* text-align: center; */
}

#intro .name {
    text-align: left;
    font-family: var(--mono);
}

.name span {
    font-family: var(--sans);
    font-size: 4rem;
    color: var(--aqua);
    display: block;
}

#intro h2 {
    font-size: 4rem;
    font-weight: normal;
}

#div-gradient {
    background: linear-gradient(90deg, var(--aqua) 0%, var(--hotmag) 100%);
    height: 6px;
}

/* contact section */
#contact-div {
    background-color: var(--dkblue);
}

#contact {
    width: 400px;
    height: auto;
    text-align: center;
    line-height: 1;
    margin: auto;
    padding: 3rem 0;
}

#contact ul {
    line-height: 1;
    list-style-type: none;
}

#contact p a:hover {
    background-color: white;
    color: black;
}

#contact p:last-child {
    margin-top: 3rem;
}


.button {
    background-color: var(--magenta);
    padding: 0.5rem;
    border-radius: 5px;
    font-family: var(--mono);
    color: var(--white)
}

.button:hover {
    background-color: white;
    color: black;
}

@media (min-width: 850px) {
    #nav {
        max-width: 1200px;
        margin: 0 auto;

    }
    #nav li:first-child {
        flex-basis: auto;
        text-align: left;
        margin-right: auto;
    }
}

#resume {
    width: 850;
    height: 1200;
}

#resume [class*="fa-"] {
    font-size: 150%;
    color: var(--aqua);
    padding: .5rem;
}